html {
  background-color: #e9ecef;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: #343a40;
  display: flex;
  text-align: center;
  font-size: 20px;
}

input,
select {
  border: 3px solid #343a40;
  padding: 12px;
  border-radius: 5px;
  width: 200px;
}

.form-parent {
  display: flex;
  flex-direction: column;
}

.form-message {
  width: 400px;
  height: 300px;
  display: flex;
  text-align: left;
}
