/*!
 * Forms
 * form classes use the c- prefix to indicate they are components used in layout.
 * @example https://fed-vocational-astro-course.vercel.app/en/html-css/module-2/forms
 */

.c-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--spacing-1);
  padding: var(--spacing-1);
  background-color: var(--color-white);
  border-radius: var(--radius-1);
  box-shadow: var(--shadow-1);
}
