/*!
 * Layout
 * Layout classes use the l- prefix to indicate they are layout classes.
 * @tutorial https://web.dev/learn/css/layout/
 * @example https://fed-vocational-astro-course.vercel.app/en/html-css/module-3/css-grids
 */

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  place-items: flex-start;
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: minmax(62px, auto) 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.l-header {
  display: flex;
  flex-direction: column;
  grid-area: header;
  width: 100%;
  padding: var(--size-fluid-1);
}

.l-main {
  display: flex;
  flex-direction: column;
  grid-area: main;
  width: 100%;
  padding: var(--size-fluid-2);
}

.l-footer {
  display: flex;
  flex-direction: column;
  grid-area: footer;
  width: 100%;
  padding: var(--size-fluid-1);
}

.l-content {
  flex: 1 0 auto;
}

.l-container {
  width: 100%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}
