/*!
 * Variables
 * @tutorial https://web.dev/at-property/
 * @example https://fed-vocational-astro-course.vercel.app/en/html-css/module-4/css-variables
 */

:root {
  /* Add your CSS variables here */
}

html {
  background-color: #e9ecef;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border: 2px;
  margin: auto;
  width: 80vw;
}
.flex > a {
  border-style: solid;
  border-radius: 15px;
  background-color: white;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #343a40;
}

a > div {
  width: 200px;
}

.card_img {
  width: 200px;
  object-fit: contain;
  aspect-ratio: 3/2;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  border-color: #ff3d00;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
